%section#modal
  = render 'section_modal'
.container
  #text.row
    / start of row text
    .slogan
      %h2 作品集
      %p
        Hi, I'm
        %span.highlight Vincent
      %p Here's are the collection of my participated projects.
      %a.btn.btn-primary{"data-target" => "#about", "data-toggle" => "modal"} Learn More
  / end of row text
/ end of container
// FOOTER - START //
= render 'footer'
